<% layout("/layout/boilerplate") %>

<div class="row mt-4">
    <div class = "col-6 offset-3">

       <u> <h1 class = "col-6 offset-3" >Login</h1> </u>
           <form action="/login" method="POST"  novalidate class="needs-validation">
  
                    <div class="mb-3">
                        <label for="username" class= "form-label" >Username</label>
                        <input name="username" placeholder="Enter Username" id="username"   type = "text" class="form-control" required>   <!--Required is important for bootstrap to be used-->
                    </div>

                    <div class="mb-3">
                        <label for="password" class= "form-label" >Password</label>
                        <input name="password" placeholder="Enter Password" id="password" type = "password" class="form-control" required>   <!--Required is important for bootstrap to be used-->
                    </div>

                    <button class="btn btn-success  ">Login</button>

           </form>

    </div>
</div>